@import url('https://fonts.googleapis.com/css?family=Pacifico');
page-home {
    .bg {
        height: 100%;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .mybtn {
        position: absolute;
        display: block;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #fff;
    }
    button {
        position: absolute;
        display: block;
        top: 50%;
        background: #487EB0!important;
        border: 1px solid #fff;
        box-shadow: 0px;
        color: #9A9595!important;
    }
}
